:root {
    --background: whitesmoke;
    --primary: #ef8a17;
    --secondary: rgba(51, 51, 51, 0.9);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    
}

* {
    font-family: sans-serif;
}

#homeImages {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#disclaimer {
    margin-top: 20vh;
}

.disclaimerLink {
    font-size: 20px;
    margin-top: 10px;
    
}

main {
    background-color: var(--background);
    opacity: 0.9;
    padding: 20px;
    width: 80%;
    margin: 56px auto;
    
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}

#menuOrderLink {
    width: fit-content;
}

#menuOrder, #contactBtn {

    border: none;
    padding: 20px;
    background-color: var(--primary);
    color: white;
    font-weight: bold;
    border-radius: 10px;
    font-size: 20px;
    transition-duration: 500ms;
    margin: 10px 10px;
}

#menuOrder:hover, #contactBtn:hover {
    cursor: pointer;
    background-color: #e69437;
    border-radius: 15px;
    transition-duration: 500ms;
}

#menuOrder:active, #contactBtn:active {
    background-color: var(--primary);
    border-radius: 20px;
    transition-duration: 500ms;
}
 
h1 {
    color: var(--primary);
}

h2, h3, h4, h5, h6, label, input, textarea {
    color: var(--secondary);
}

#home, #story, #kidsClub, #catering, #menu, #contact {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

#home {
    background-image: url("../imgs/backgrounds/storeFront.webp");

}

#story {
    background-image: url("../imgs/backgrounds/salad.jpg");
}

#kidsClub {
    background-image: url("../imgs/backgrounds/kidsBackground.png");
}

#catering {
    background-image: url("../imgs/backgrounds/bbq\ chicken.jpg");
}

#menu {
    background-image: url("../imgs/backgrounds/storeFront2.png");
}

#contact {
    background-image: url("../imgs/backgrounds/burgerwfries.jpeg");
}

#menu main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu main img {
    margin: auto;
}

label {
    font-weight: bold;
    font-size: 20px;
    width: 200px;
    margin-right: 10px;
}

input {
    border: 1px solid grey;
    padding: 5px 10px;
}

textarea {
    resize: none;
}

#contact main #contactBtn {
    padding: 15px 20px;
}

iframe {
    border: none;
    border-radius: 10px;
}




/* Desktop */
@media only screen and (min-width: 1000px) {
    nav {
        width: 100%;
        height: 50px;
        background-color: var(--secondary);
        position: fixed;
        top: 0px;
        left: 0px;
        text-align: center;
        padding-bottom: 5px;
        opacity: 0.9;
        z-index: 3;

    }

    nav img {
        height: 90px;
        position: absolute;
        left: 50px;
        top: 15px;
        
    }

    #links {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #links a {
        color: white;
        font-weight: bold;
        font-size: 30px;
        padding: 10px 20px;
        text-decoration: none;
    }
}

/* Mobile */
@media only screen and (max-width: 100px) {

}


